@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

body {
    background-color: #374f66;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

ul {
    padding: 10px !important;
    margin: 10px !important;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

.pagination>ul>li>a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1.3px solid black;
    display: inline;
    background-color: #b1c2de;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}

.pagination>ul>li.active {
    opacity: 0.6;
}

.link {
    color: black;
    text-align: center;
    display: block;
    margin-top: 30px;
    border: 1px solid black;
    background-color: #374f66;
    color: #b1c2de;
    padding: 6px;
    border-radius: 5px;
    transition: background-color 2.5s;
}

.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 2.7rem;
}

.description {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 80%;
    text-align: justify;
    color: #ffffff;
    font-size: 1.03rem;
}

hr {
    color: #b1c2de;
}

.link:hover {
    background-color: black;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.linguagens {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-template-rows: auto;
    justify-content: space-evenly;
    padding: 15px;
    grid-column-gap: 22px;
    overflow-x: hidden;
}

.linguagem-container {
    padding: 60px;
    background-color: #b1c2de;
    margin-bottom: 18px;
    color: black;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.linguagem-nome {
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    font-size: 1.5rem;
}

.header {
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

i {
    margin-right: 7px;
    color: #b1c2de;
}